doctype html
html
	head
		script(type="text/javascript" src='http://code.jquery.com/jquery-2.2.0.js')
		script.
			$(document).ready(function (){
				$('#enter').click(function(button){
				   if($('#username').val() == '' || $('#email').val() == ''|| $('#password').val() == ''){
				   		button.preventDefault(); //this prevents the form from going to the POST handler
						alert('Input can not be left blank');
				   }
				});
			})	
	body
		a(href='/profile') view profile
		br
		a(href='/logout') log out	
		//- form(name="button", action="/logout", method="get")
		//- 	br
		//- 	input(id="inputs" type="submit",value="logout")	