doctype html
html
	head
		script(type="text/javascript" src='http://code.jquery.com/jquery-2.2.0.js')
		script.
			$(document).ready(function (){
				$('#enter').click(function(button){
					$.trim('#username');
					console.log (#username)
				   if($('#username').val() == '' || $('#email').val() == ''|| $('#password').val() == ''){
				   		button.preventDefault(); //this prevents the form from going to the POST handler
						alert('Input can not be left blank');
				   }
				});
			})		
	body
		h2 Welcome to this awesome blog website! This is the best one out there.
		| Please login or register
		form(name="login", action="/login", method="post")
			br
			input(id="inputs" type="text", name="username", placeholder="username", autocomplete="off")
			br
			input(id="inputs" type="password", name="password", placeholder="password", autocomplete="off")
			br
			input(id="inputs" type="submit",value="login")
			br
		form(name="register", action="/user/new", method="post")
			br
			input(id="username" type="text", name="username", placeholder="username", autocomplete="off")
			br
			input(id="email" type="text", name="email", placeholder="email", autocomplete="off")
			br
			input(id="password" type="password", name="password", placeholder="password", autocomplete="off")
			br
			input(id="enter" type="submit",name="enter", value="enter")
		h2= message
		h2 This is the login again page
